<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
  </head>
  <body>
    <h1>LOGIN</h1>
    <form action="/users/login" method="post">
      Email: <input type="email" name="email" id="email" required />
      <br />
      Password: <input type="password" name="password" id="password" required />
      <br />
      <input type="submit" value="INGRESAR" />
    </form>

    <h2>Aren't you logged yet?</h2>
    <button onclick="location.href='/register'">Go to register!</button>
  </body>

  <h3> Sign in with Github </h3>
  <button onclick="location.href='/users/register-github'"> Go to Github </button>

</html>